.contenedor-contador-items{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 20%;
    margin: 20px  auto;
}

.contador-items{
   display: flex;
   align-items: center;
   justify-content: space-around;
   background-color: #E9E9EB;
   width: 100%;   
   border-bottom: #EF4B4C 2px solid;
   font-size: 2rem;
   color: black;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.contador-items i {
    background-color: #42506b;
    color: #E9E9EB;
    padding: 0.4rem;
    border-radius: 2rem;
    font-size: 1rem;    
}

.contador-items i:active {
    background-color: #EF4B4C;
}

.contador-items :nth-child(1) {
    margin: 1rem;
}

.contador-items :nth-child(2) {
    margin: 1rem;
}

.contador-items :nth-child(3) {
    margin: 1rem;
}
